torch==2.6.0
torchvision==0.21.0
protobuf
optimum-quanto==0.2.7
einops
timm
scipy>=1.13,<1.15
diffusers==0.31.0
transformers==4.45.2
sentencepiece
gradio
spaces
huggingface_hub
accelerate==0.32.0
peft
git+https://github.com/ToTheBeginning/facexlib.git
